<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container ms-4">
        <p style="font-size: 18px;font-weight: bolder;color: #0a53be">Phones</p>
    </div>
<!--    <div class="container target">-->
    <div class="grid grid-cols-3 gap-4">
        <div>
            <div class="flex font-sans">
                <div class="flex-none w-48 relative">
                    <img src="https://resources.cdn-kaspi.kz/img/m/p/h32/h70/84378448199710.jpg?format=gallery-medium" alt="" class="absolute inset-0 w-full h-full" loading="lazy" />
                </div>
                <form class="flex-auto p-6">
                    <div class="flex flex-wrap">
                        <h1 class="flex-auto text-lg font-semibold text-slate-900">
                            Utility Jacket
                        </h1>
                        <div class="text-lg font-semibold text-slate-500">
                            $110.00
                        </div>
                        <div class="w-full flex-none text-sm font-medium text-slate-700 mt-2">
                            In stock
                        </div>
                    </div>
                    <div class="flex items-baseline mt-4 mb-6 pb-6 border-b border-slate-200">
                        <div class="space-x-2 flex text-sm">
                            <label>
                                <input class="sr-only peer" name="size" type="radio" value="xs" checked />
                                <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                                    XS
                                </div>
                            </label>
                            <label>
                                <input class="sr-only peer" name="size" type="radio" value="s" />
                                <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                                    S
                                </div>
                            </label>
                            <label>
                                <input class="sr-only peer" name="size" type="radio" value="m" />
                                <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                                    M
                                </div>
                            </label>
                            <label>
                                <input class="sr-only peer" name="size" type="radio" value="l" />
                                <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                                    L
                                </div>
                            </label>
                            <label>
                                <input class="sr-only peer" name="size" type="radio" value="xl" />
                                <div class="w-9 h-9 rounded-lg flex items-center justify-center text-slate-700 peer-checked:font-semibold peer-checked:bg-slate-900 peer-checked:text-white">
                                    XL
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="flex space-x-4 mb-6 text-sm font-medium">
                        <div class="flex-auto flex space-x-4">
                            <button class="h-10 px-1 font-semibold rounded-md bg-black text-white" type="submit">
                                Buy now
                            </button>
                            <button class="h-10 px-1 font-semibold rounded-md border border-slate-200 text-slate-900" type="button">
                                Add to bag
                            </button>
                        </div>
                        <button class="flex-none flex items-center justify-center w-9 h-9 rounded-md text-slate-300 border border-slate-200" type="button" aria-label="Like">
                            <svg width="20" height="20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" />
                            </svg>
                        </button>
                    </div>
                    <p class="text-sm text-slate-700">
                        Free shipping on all continental US orders.
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    loadContent();
    function loadContent() {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let laptops = JSON.parse(request.responseText);
                for (let i = 0; i < laptops.length; i++) {

                    let htmlCode = "";
                    const target = document.querySelector('.target');
                    htmlCode += `<a class="text-decoration-none" href='/techGadget/laptops/${laptops[i].id}'>`;
                    htmlCode += "<div class='container w-75 m-3' style='display: flex; height: 50px;'>";
                    htmlCode += `<div class="col-md-1 h-75">`;
                    htmlCode += `</div>`;
                    htmlCode += `<div class="col-md-8 ms-2 h-100">`;
                    htmlCode += "<p class='fs-6 text-decoration-none text-black'>" + laptops[i].name + "</p>";
                    htmlCode += "<p class='text-decoration-none text-secondary' style='font-size: 12px; margin-top: -15px;'>" + laptops[i].color + "</p>";
                    htmlCode += `</div>`;
                    htmlCode += "</div>";
                    htmlCode += `</a>`;
                    let newDiv = document.createElement('div');
                    newDiv.innerHTML = htmlCode;
                    target.append(newDiv);
                }
            }
        };
        request.open('GET', '/laptops');
        request.send();
    }
</script>
</body>
</html>